@font-face {
  font-family: Atlata;
  src: url(./Alata-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ecccc0;
  margin: 0;
  padding: 0;
  color: #575757;
  font-family: 'Atlata', Arial, sans-serif;
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  body {
    font-size: 1.5rem;
    background-image: url(./bg.jpg);
  }
}

h1,
h2,
h3,
h4,
h6 {
  color: #000000;
}

h1:first-child {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  border-top: 2px dashed #000000;
  border-bottom: 2px dashed #000000;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  h1:first-child {
    margin-top: 4rem;
    text-align: right;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 1rem 0;
    background-color: transparent;
    border: none;
  }
}

@media screen and (min-width: 992px) {
  h1:first-child {
    margin-top: 16rem;
  }
}

h1:first-child span {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 12px;
  cursor: default;
  -webkit-transition: .2s ease background-color;
  transition: .2s ease background-color;
}

h1:first-child span:hover {
  background-color: transparent;
}

h1:first-child span i {
  display: none;
}

@media screen and (min-width: 768px) {
  h1:first-child span {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    cursor: default;
    -webkit-transition: .2s ease background-color;
    transition: .2s ease background-color;
  }
  h1:first-child span:hover {
    background-color: #ffffff;
  }
  h1:first-child span i {
    display: inline;
  }
}

h2:first-child {
  margin-top: 0;
}

h3:first-child {
  margin-top: 0;
}

.nav {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 2rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 992px) {
  .nav {
    padding: 2.75rem 2rem;
  }
}

.nav__inside {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .nav__inside {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__inside__logo {
  font-size: 3rem;
  text-decoration: none;
  color: #000000;
  -webkit-transition: .1s color ease;
  transition: .1s color ease;
  margin-bottom: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__inside__logo:hover {
  color: #ffffff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 992px) {
  .nav__inside__logo {
    font-size: 5rem;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    margin-bottom: 0;
  }
}

.nav__inside__links {
  font-size: 1.25rem;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .nav__inside__links {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .nav__inside__links {
    font-size: 1.75rem;
  }
}

.nav__inside__links__item {
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-transition: .3s background-color ease;
  transition: .3s background-color ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 992px) {
  .nav__inside__links__item {
    display: block;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.nav__inside__links__item:hover {
  color: #ffffff;
}

.nav__inside__links__item:first-child:hover {
  background-color: #5670b8;
}

.nav__inside__links__item:nth-child(2):hover {
  background-color: #44b369;
}

.nav__inside__links__item:last-child:hover {
  background-color: #973ed3;
}

.nav__inside__links__item__text {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__inside__links__item__text {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .nav__inside__links__item i {
    display: none;
  }
}

.main {
  max-width: 1100px;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 2rem;
}

.main__section {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 3rem;
}

.main__featured-items__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .main__featured-items__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main__featured-items__container__images {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media screen and (min-width: 992px) {
  .main__featured-items__container__images {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

.main__featured-items__container__images__img {
  min-height: 110px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.main__featured-items__container__images__img:hover::before {
  background-color: transparent;
}

.main__featured-items__container__images__img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0;
  -webkit-transition: .4s ease background-color;
  transition: .4s ease background-color;
  content: '';
}

.main__featured-items__container__images__img:first-child {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.main__featured-items__container__images__img:first-child::before {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.main__featured-items__container__images__img:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.main__featured-items__container__images__img:last-child::before {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.main__featured-items__container__images__img--selected::before {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .main__featured-items__container__images__img {
    border-radius: 12px;
  }
  .main__featured-items__container__images__img::before {
    border-radius: 12px;
  }
  .main__featured-items__container__images__img:first-child {
    margin-right: .5rem;
  }
  .main__featured-items__container__images__img:nth-child(2) {
    margin: 0 .25rem;
  }
  .main__featured-items__container__images__img:last-child {
    margin-left: .5rem;
  }
}

@media screen and (min-width: 992px) {
  .main__featured-items__container__images__img:first-child, .main__featured-items__container__images__img:nth-child(2) {
    margin: 0 0 1rem 0;
  }
  .main__featured-items__container__images__img:last-child {
    margin: 0;
  }
}

.main__featured-items__container__info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 992px) {
  .main__featured-items__container__info {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

.main__featured-items__container__full-image {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  min-height: 12rem;
}

@media screen and (min-width: 768px) {
  .main__featured-items__container__full-image {
    min-height: 20rem;
  }
}

@media screen and (min-width: 992px) {
  .main__featured-items__container__full-image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    min-height: unset;
  }
}

.main__featured-items__container__full-image__price {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  margin: 1rem;
  padding: 1rem;
  color: #ffffff;
}

.main__dogs-of-the-month__dog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5rem;
}

.main__dogs-of-the-month__dog-section:last-child {
  margin-bottom: 0;
}

.main__dogs-of-the-month__dog-section__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
}

.main__dogs-of-the-month__dog-section__image img {
  width: 100%;
  border-radius: 12px;
  z-index: 1;
}

.main__dogs-of-the-month__dog-section__image__name {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 12px;
  z-index: 2;
  padding: 1rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 992px) {
  .main__dogs-of-the-month__dog-section__image__name {
    display: none;
  }
}

.main__dogs-of-the-month__dog-section__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.main__dogs-of-the-month__dog-section__text h3 {
  display: none;
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .main__dogs-of-the-month__dog-section__text h3 {
    display: block;
  }
}

.main__dogs-of-the-month__dog-section > div {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .main__dogs-of-the-month__dog-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__dogs-of-the-month__dog-section__image {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .main__dogs-of-the-month__dog-section__text {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .main__dogs-of-the-month__dog-section > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main__dogs-of-the-month__dog-section > div:first-child {
    margin-right: 1rem;
    text-align: right;
  }
  .main__dogs-of-the-month__dog-section > div:last-child {
    margin-left: 1rem;
  }
  .main__dogs-of-the-month__dog-section > div:last-child .main__dogs-of-the-month__dog-section__image__name {
    right: unset;
    left: 1rem;
  }
}

.main__location {
  margin-bottom: 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main__location {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 0;
    position: relative;
  }
}

.main__location__info {
  padding: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 768px) {
  .main__location__info {
    max-width: 180px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1.5rem 0 1.5rem 1.5rem;
    z-index: 3;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 992px) {
  .main__location__info {
    max-width: 240px;
  }
}

@media screen and (min-width: 768px) {
  .main__location__info__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  .main__location__info__box h2 {
    padding-right: 60px;
    margin-bottom: 0;
  }
}

.main__location__info__box__contact a {
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 12px;
  background-color: #ffffff;
  color: #575757;
  overflow: hidden;
  display: block;
  -webkit-transition: .2s ease color, .2s ease background-color;
  transition: .2s ease color, .2s ease background-color;
}

.main__location__info__box__contact a i {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
  margin-right: 1rem;
}

.main__location__info__box__contact a:last-child {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .main__location__info__box__contact a:last-child {
    margin-right: -30px;
  }
}

.main__location__info__box__contact a:hover {
  background-color: lightgray;
  color: #000000;
}

.main__location__info button {
  display: none;
  margin-right: -60px;
  border: none;
  padding: 1rem;
  background-color: #44b369;
  cursor: pointer;
  color: #ffffff;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  font-size: inherit;
  border-radius: 12px;
  font-family: inherit;
  -webkit-transition: .3s ease box-shadow;
  transition: .3s ease box-shadow;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
}

@media screen and (min-width: 768px) {
  .main__location__info button {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .main__location__info button {
    margin-right: -80px;
  }
}

.main__location__info button:hover, .main__location__info button:focus {
  -webkit-box-shadow: 0 0 0 4px rgba(68, 179, 105, 0.2), 0 0 0 8px rgba(68, 179, 105, 0.2), 0 0 0 12px rgba(68, 179, 105, 0.2);
          box-shadow: 0 0 0 4px rgba(68, 179, 105, 0.2), 0 0 0 8px rgba(68, 179, 105, 0.2), 0 0 0 12px rgba(68, 179, 105, 0.2);
}

.main__location__map {
  min-height: 150px;
  background-size: calc(100% + 20px) auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.main__location__map--1 {
  background-image: url(./map1.png);
}

.main__location__map--2 {
  background-image: url(./map2.png);
}

.main__location__map--3 {
  background-image: url(./map3.png);
}

.main__location__map--4 {
  background-image: url(./map4.png);
}

@media screen and (min-width: 768px) {
  .main__location__map {
    min-height: 300px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-size: auto calc(100% + 80px);
  }
}

@media screen and (min-width: 992px) {
  .main__location__map {
    min-height: 400px;
    background-size: auto calc(100% + 40px);
  }
}

.main__location__map::before {
  display: none;
  content: '';
  position: absolute;
  width: 180px;
  height: calc(100% + 180px);
  left: -90px;
  top: -90px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  background-color: #ffffff;
  z-index: 2;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .main__location__map::before {
    display: block;
  }
}

.main__location__map__pin {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transition: .3s ease opacity;
  transition: .3s ease opacity;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main__location__map__pin > i {
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  .main__location__map__pin > i {
    cursor: pointer;
  }
  .main__location__map__pin > i:hover {
    color: #000000;
  }
}

@media screen and (min-width: 768px) {
  .main__location__map__pin > i:hover + .main__location__map__pin__bubble {
    visibility: visible;
  }
}

.main__location__map__pin__bubble {
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 50%;
  visibility: hidden;
  background-color: #ffffff;
  padding: 1rem;
  font-family: 'Atlata', Arial, sans-serif;
  font-weight: 400;
  color: #575757;
  white-space: nowrap;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.main__location__map__pin__bubble__address {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__location__map__pin__bubble__address > span > a,
.main__location__map__pin__bubble__address > span:first-child > i {
  color: #575757;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: .2s ease color;
  transition: .2s ease color;
}

.main__location__map__pin__bubble__address > span > a:hover,
.main__location__map__pin__bubble__address > span:first-child > i:hover {
  color: #000000;
}

.main__location__map__pin__bubble__address > span:nth-child(2) {
  margin: 0 .5rem;
  padding: 0 .5rem;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #575757;
}

@media screen and (min-width: 768px) {
  .main__location__map__pin.sticky > i {
    color: #000000;
  }
}

@media screen and (min-width: 768px) {
  .main__location__map__pin.sticky .main__location__map__pin__bubble {
    visibility: visible;
  }
}

.main__location__map__pin.sticky .main__location__map__pin__bubble__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__location__map__pin.sticky .main__location__map__pin__bubble__info {
  display: none;
}

.main__location__map__pin--hours-shown {
  opacity: 0;
}

.main__location__map__hours-more {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-transition: .4s ease transform;
  transition: .4s ease transform;
}

@media screen and (min-width: 768px) {
  .main__location__map__hours-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main__location__map__hours-more__hours-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1rem;
}

.main__location__map__hours-more__hours-box__days, .main__location__map__hours-more__hours-box__hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__location__map__hours-more__hours-box__hours {
  text-align: right;
  margin-left: 1.5rem;
}

.main__location__map__hours-more--gone {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.main__location__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__location__address__link {
  border-left: 1px solid rgba(255, 255, 255, 0.35);
  padding: .5rem .5rem .5rem 1rem;
}

.main__location__address__link a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .main__location__address {
    display: none;
  }
}

.main__location__hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .main__location__hours {
    display: none;
  }
}

.main__location__hours__days, .main__location__hours__hours-shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__location__hours__days > div, .main__location__hours__hours-shown > div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.main__location__hours__days > div:last-child, .main__location__hours__hours-shown > div:last-child {
  border-bottom: none;
}

.main__location__hours__days {
  text-align: right;
  color: #000000;
}

.main__location__hours__days > div {
  padding-right: .5rem;
}

.main__location__hours__hours > div {
  padding-left: .5rem;
}

@media screen and (min-width: 768px) {
  .main__location:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main__location:nth-child(odd) .main__location__info {
    padding: 1.5rem 1.5rem 1.5rem 0;
  }
  .main__location:nth-child(odd) .main__location__info__box {
    margin-right: 0;
    margin-left: -50px;
  }
  .main__location:nth-child(odd) .main__location__info__box h2 {
    padding-right: 0;
    padding-left: 60px;
    text-align: right;
  }
  .main__location:nth-child(odd) .main__location__info__box__contact a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
  }
  .main__location:nth-child(odd) .main__location__info__box__contact a i {
    margin-right: 0;
    margin-left: 1rem;
  }
  .main__location:nth-child(odd) .main__location__info__box__contact a:last-child {
    margin-right: 0;
    margin-left: -30px;
  }
  .main__location:nth-child(odd) .main__location__info__box button {
    margin-right: 0;
    margin-left: -60px;
  }
  .main__location:nth-child(odd) .main__location__map::before {
    left: unset;
    right: -90px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@media screen and (min-width: 992px) {
  .main__location:nth-child(odd) .main__location__info__box button {
    margin-right: 0;
    margin-left: -80px;
  }
}

.main__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main__contact__form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: .5rem;
  }
}

.main__contact__form input[type=text] {
  border: 1px solid #000000;
  border-radius: 12px;
  font-size: inherit;
  font-family: inherit;
  padding: 1rem;
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  color: #575757;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1rem;
  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  -webkit-transition: .3s ease box-shadow;
  transition: .3s ease box-shadow;
}

.main__contact__form input[type=text]::-webkit-input-placeholder {
  color: #8f8f8f;
}

.main__contact__form input[type=text]:-ms-input-placeholder {
  color: #8f8f8f;
}

.main__contact__form input[type=text]::-ms-input-placeholder {
  color: #8f8f8f;
}

.main__contact__form input[type=text]::placeholder {
  color: #8f8f8f;
}

.main__contact__form input[type=text]:focus {
  -webkit-box-shadow: 0 0 0 3px #000000;
          box-shadow: 0 0 0 3px #000000;
}

.main__contact__form input[type=submit] {
  border: none;
  border-radius: 12px;
  font-size: inherit;
  font-family: inherit;
  padding: 1rem;
  outline: none;
  display: block;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -webkit-transition: .3s ease box-shadow;
  transition: .3s ease box-shadow;
  cursor: pointer;
  width: 100%;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1rem;
  background-color: #44b369;
}

.main__contact__form input[type=submit]:hover, .main__contact__form input[type=submit]:focus {
  -webkit-box-shadow: 0 0 0 4px rgba(68, 179, 105, 0.2), 0 0 0 8px rgba(68, 179, 105, 0.2), 0 0 0 12px rgba(68, 179, 105, 0.2);
          box-shadow: 0 0 0 4px rgba(68, 179, 105, 0.2), 0 0 0 8px rgba(68, 179, 105, 0.2), 0 0 0 12px rgba(68, 179, 105, 0.2);
}

.main__contact__form textarea {
  border-radius: 12px;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: 1px solid #000000;
  padding: 1rem;
  display: block;
  color: #575757;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 1rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  -webkit-transition: .3s ease box-shadow;
  transition: .3s ease box-shadow;
}

.main__contact__form textarea::-webkit-input-placeholder {
  color: #8f8f8f;
}

.main__contact__form textarea:-ms-input-placeholder {
  color: #8f8f8f;
}

.main__contact__form textarea::-ms-input-placeholder {
  color: #8f8f8f;
}

.main__contact__form textarea::placeholder {
  color: #8f8f8f;
}

.main__contact__form textarea:focus {
  -webkit-box-shadow: 0 0 0 3px #000000;
          box-shadow: 0 0 0 3px #000000;
}

@media screen and (min-width: 768px) {
  .main__contact__image {
    margin-left: .5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.main__contact__image img {
  max-width: 100%;
  border-radius: 12px;
  margin: 0;
}

.footer {
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0 2rem;
  color: #000000;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: right;
  }
}

.footer__content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.footer__content a {
  color: #000000;
  text-decoration: none;
}

.footer__content a:hover {
  border-bottom: 2px dashed #000000;
}
/*# sourceMappingURL=styles.css.map */